.canvas-home {
  height: 100%;
  position: relative;
  .canvas-home-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  #frontCanvas {
    position: absolute;
  }
  .img-list {
    position: fixed;
    z-index: 10;
    bottom: 0;
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    > div {
      flex: 1;
    }
    .img-icon {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 0 0.6rem;
      .activeButton {
        border: 2px solid rgb(68, 151, 102);
      }
      .activeButtonFalse {
        border: 2px solid rgb(102, 103, 104);
      }
      > div {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: rgb(102, 103, 104);
        color: rgb(166, 167, 168);
        .input-file {
          height: 50px;
          width: 50px;
          opacity: 0;
          position: absolute;
          z-index: 10;
          top: 0;
          left: 0;
        }
        span {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 10px;
          i {
            font-size: 16px;
          }
          .icon-yincang,
          .icon-web-icon-,
          .icon-xiangpi_huaban1 {
            font-size: 24px;
            height: 25px;
            line-height: 27px;
          }
          .icon-xiangpi_huaban1 {
            line-height: 25px;
          }
          .icon-web-icon- {
            font-size: 22px;
          }
          .icon-baocun {
            font-size: 18px;
            height: 25px;
            line-height: 27px;
          }
        }
      }
    }
    .img-item {
      overflow-y: scroll;
      display: flex;
      flex-wrap: nowrap;
      background-color: rgb(61, 62, 63);
      .img-conent {
        height: 100%;
        width: 1.302083rem;
        min-width: 1.302083rem;
        padding: 0.05rem;
        border: 2px solid rgb(61, 62, 63);
      }
      .active {
        border: 2px solid rgb(130, 162, 197);
      }
    }
    .img-item::-webkit-scrollbar {
      display: none;
    }
  }
}
